<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/665726c0a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/scss/css/authors.css" th:href="@{/scss/css/authors.css}" />
</head>

<body>
    <section class="container">
        <header class="header">
            <div class="header__logo">
                <a th:href="@{/index}">POC</a>
            </div>
            <nav class="header__nav">
                <ul class="header__nav__main">
                    <li class="header__nav__main__el">
                        <a th:href="@{/all-posts}">Posts</a>
                    </li>
                    <li class="header__nav__main__el">
                        <a th:href="@{/tags}">Tags</a>
                    </li>
                    <li class="header__nav__main__el">
                        <a th:href="@{/categories}">Categories</a>
                    </li>
                    <li class="header__nav__main__el">
                        <a th:href="@{/authors}">Authors</a>
                    </li>
                </ul>
            </nav>
            <div class="header__user">
                <div class="header__user__pic">
                    <i class="fas fa-user"></i>
                </div>
                <div class="header__user__username">
                    <h5>Username</h5>
                </div>
                <div class="header__user__logout">
                    <a>Logout</a>
                </div>
            </div>

        </header>
        <main class="main">
            <section class="all-authors">
                <div class="all-authors__head">
                    <div class="all-authors__head__new">
                        <a th:href="@{/add-author}">New Author</a>
                    </div>
                    <div class="all-authors__head__search">
                        <input type="text" placeholder="Enter a Author name here">
                    </div>
                    <div class="all-authors__head__search-button">
                        <a th:href="@{/authors}">Search</a>
                    </div>
                </div>
                <hr>
                <div  class="all-authors__body">

                    <div th:each="author:${authors}" class="all-authors__body__single-author">
                        <div class="all-authors__body__single-author__authorName">
                            <a href="" th:text="${author.authorName}" th:href="@{'/author/'+${author.authorId}}">Author name</a>
                        </div>
                        <div class="all-authors__body__single-author__edit">
                            <a href=""><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-authors__body__single-author__delete">
                            <a href=""><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>



                </div>

            </section>

        </main>
        <footer class="footer">
            <p>copiright &copy 2020 daly tekam </p>
            <p>All Rights reserved </p>
        </footer>
        </div>
    </section>
</body>

</html>