<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/665726c0a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/scss/css/tags.css" th:href="@{/scss/css/tags.css}" />
</head>

<body>
    <section class="container">
        <header class="header">
            <div class="header__logo">
                <a th:href="@{/index}">POC</a>
            </div>
            <nav class="header__nav">
                <ul class="header__nav__main">
                    <li class="header__nav__main__el">
                        <a th:href="@{/all-posts}">Posts</a>
                    </li>
                    <li class="header__nav__main__el">
                        <a th:href="@{/tags}">Tags</a>
                    </li>
                    <li class="header__nav__main__el">
                        <a th:href="@{/categories}">Categories</a>
                    </li>
                    <li class="header__nav__main__el">
                        <a th:href="@{/authors}">Authors</a>
                    </li>
                </ul>
            </nav>
            <div class="header__user">
                <div class="header__user__pic">
                    <i class="fas fa-user"></i>
                </div>
                <div class="header__user__username">
                    <h5>Username</h5>
                </div>
                <div class="header__user__logout">
                    <a>Logout</a>
                </div>
            </div>

        </header>

        <main class="main">
            <section class="all-tags">
                <div class="all-tags__head">
                    <div class="all-tags__head__new">
                        <a th:href="@{/add-tag}">New Tag</a>
                    </div>
                    <div class="all-tags__head__search">
                        <input type="text" placeholder="Enter a Tag name here">
                    </div>
                    <div class="all-tags__head__search-button">
                        <a th:href="@{/}">Search</a>
                    </div>
                </div>
                <hr>
                <div class="all-tags__body">

                    <div th:each="t:${tags}" class="all-tags__body__single-tag">
                        <div class="all-tags__body__single-tag__tagName">
                            <a th:text="${t.tagName}" th:href="@{'/tag/'+${t.tagId}}">Tag name</a>
                        </div>
                        <div class="all-tags__body__single-tag__edit">
                            <a href=""><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-tags__body__single-tag__delete">
                            <a href=""><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>

                </div>
            </section>

        </main>
        <footer class="footer">
            <p>copiright &copy 2020 daly tekam </p>
            <p>All Rights reserved </p>
        </footer>

    </section>
</body>

</html>