* {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans", "sans-serif";
  box-sizing: border-box;
}

$headerColor: #004777;
$textColor: #d1d1d1;
$textColor3: #fff;
$textColor2: #000;
$tagColor: #4c65af;
$categoryColor: #36c1a4;
$headerColor: #004777;
$textColor: #d1d1d1;
$deleteColor: #fa1606;
$editColor: #006900;
$backColor: #206db3;
$bgColor: #e8e8e8;
$categoriesColors: (color1: #4c65af,
  color2: #198acc,
  color3: #409d9f,
  color4: #9adcc4,
  color5: #36c1a4); //* Main container


//* Main container
.container {
  background-color: $bgColor;
  background-size: cover;
  position: relative;
  // height: 100vh;
  z-index: 1;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 0.7fr 5fr 1fr;

  .header {
    grid-area: header;
    background-color: $headerColor;
  }

  .main {
    display: grid;
    grid-area: main;
    text-align: center;
    align-items: center;
  }

  .footer {
    grid-area: footer;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -5;
  }
}

//* Header

.header {
  display: grid;
  grid-template-areas: "logo nav user";
  padding: 1rem;
  background-color: rgba($headerColor, 0.1);
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 1rem;
  color: $textColor;
  box-shadow: 0px 0px 6px 0px white;
}

.header__logo {
  grid-area: logo;
  text-align: center;
  line-height: 5rem;
  display: grid;

  & a {
    font-size: 5rem;
    text-decoration: none;
    color: $textColor;
  }
}

.header__nav {
  grid-area: nav;

  display: grid;
}

.header__user {
  grid-area: user;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "pic username"
    "logout logout";
  text-align: center;

  position: relative;
}

.header__user__pic {
  grid-area: pic;
  padding: 0.5rem;
}

.header__user__username {
  grid-area: username;
  text-align: left;
  padding: 0.5rem;
}

.header__user__logout {
  grid-area: logout;
  padding: 0.5rem;

  & a {
    border: 1px solid white;
    cursor: pointer;
    display: block;
    padding: 0.3rem 1rem;
    border-radius: 5%;
    position: absolute;
    bottom: 0.5rem;
    left: 2rem;
    right: 2rem;

    &:hover {
      background-color: #fff;
      color: $headerColor;
    }
  }
}

.header__nav__main {
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);

  &__el {
    list-style-type: none;

    text-align: center;
    line-height: 5rem;

    & a {
      text-decoration: none;
      color: $textColor;
      height: 5rem;
      display: block;

      position: relative;

      text-transform: uppercase;
      font-size: 3rem;

      &:hover::after {
        transform: scaleX(1);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.2rem;
        background-color: #fff;
        width: 100%;
        border: 1px solid white;
        transform: scaleX(0);
        transform-origin: left;

        transition: transform 200ms ease-out;
      }
    }
  }
}

.footer {
  position: absolute;
  display: grid;
  text-align: center;
  bottom: 0;
  left: 40%;
  right: 40%;

  & p {
    color: $textColor2;
    margin: 0 auto;
    font-size: 0.8rem;
  }
}





//* add-post form
main {
  display: grid;

  margin: 0 auto;
  justify-content: center;


}

.add_post h4 {
  color: $headerColor;
  font-variant: small-caps;
  margin-bottom: 1rem;
  font-size: 1.2rem
}

form {
  display: grid;
  grid-gap: 1rem;
  width: 25rem;

  & .label,
  span {
    display: block;
    text-align: left;
  }

  & span {
    color: red;
  }

  & #post-title,
  #post-author {

    color: #000;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0.3rem 0.3rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100%;
    display: block;
    height: 2rem;

  }

  & textarea {
    border-radius: 5px;
  }

  & .title-post,
  .author-post,
  .body-post,
  .categories-post,
  .tags-post,
  .button-post {
    display: grid;

  }


  & .tags-post {
    grid-template-columns: 1fr 1fr 1fr;


    & :nth-child(1) {
      grid-column: 1/span 3;

      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;


      text-align: left;


    }


    & #post-tags,
    label {
      display: inline;
    }

    /* & div :nth-child(1) {
      font-weight: bolder;


    }*/

  }

  & .categories-post {
    grid-template-columns: 1fr 1fr 1fr;


    & :nth-child(1) {
      grid-column: 1/span 3;

      padding-bottom: 0.5rem;


      text-align: left;


    }

    & #post-categories,
      {
      display: inline;
    }

    /* & div :nth-child(1) {
      font-weight: bolder;
    }*/


  }

  & button {
    padding: 0.4rem;
    border: 1px solid $editColor;
    color: $headerColor;
    border-radius: 5px;
    font-weight: bolder;
    transition: color 400ms ease-in;
    font-size: 1.4rem;
    width: 6rem;
    cursor: pointer;

    &:hover {
      color: $textColor3;
      background-color: $editColor;
    }
  }
}

.add_post {
  border: 0.1rem solid $headerColor;

  padding: 2rem 4rem 2rem 4rem;
  margin-top: 4rem;
  border-radius: 4px;
}